/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  color: #444444;
}

a {
  color: #9C3030;
  text-decoration: none;
}

a:hover {
  color: #003657;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #9C3030;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #D87E7E;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #9C3030;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #9C3030;
}

#header .logo img {
  max-height: 40px;
}

/**
* Get Startet Button 
*/
.get-started-btn {
  margin-left: 22px;
  background: #9C3030;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  outline: none;
  border: 0;
  box-shadow: none;
}

.get-started-btn:hover {
  background: #C13A3A;
  color: #fff;
}

.btn {
  margin-left: 22px;
  background: #FFF;
  color: #9C3030;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #9C3030;
  font-weight: bold;
}

.btn:hover {
  border: 1px solid #C13A3A;
  color: #C13A3A;
}


@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #37423b;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #9C3030;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #9C3030;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #37423b;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(32, 38, 34, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 6px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37423b;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #9C3030;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #9C3030;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero,
#preview_lessons,
#preview_teachers,
#preview_events {
  width: 100%;
  height: 80vh;
  background-position: top center;
  background-size: cover;
  position: relative;
}

#hero:before,
#preview_lessons:before,
#preview_teachers:before,
#preview_events:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container,
#preview_lessons .container,
#preview_teachers .container,
#preview_events .container {
  padding-top: 72px;
}

@media (max-width: 992px) {
  #hero .container,
  #preview_lessons .container,
  #preview_teachers .container,
  #preview_events .container {
    padding-top: 62px;
  }
}

#hero h1,
#preview_lessons h1,
#preview_teachers h1,
#preview_events h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#hero h2,
#preview_lessons h2,
#preview_teachers h2,
#preview_events h2 {
  color: #eee;
  margin: 10px 0 0 0;
  font-size: 20px;
}

#hero .btn-get-started,
#preview_lessons .btn-get-started,
#preview_teachers .btn-get-started,
#preview_events .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover,
#preview_lessons .btn-get-started:hover,
#preview_teachers .btn-get-started:hover,
#preview_events .btn-get-started:hover {
  background: #9C3030;
  border: 2px solid #9C3030;
}

@media (min-width: 1024px) {
  #hero,
  #preview_lessons,
  #preview_teachers,
  #preview_events {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero,
  #preview_lessons,
  #preview_teachers,
  #preview_events {
    height: 100vh;
  }

  #hero h1,
  #preview_lessons h1,
  #preview_teachers h1,
  #preview_events h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2,
  #preview_lessons h2,
  #preview_teachers h2,
  #preview_events h2 {
    font-size: 18px;
    line-height: 24px;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f7f6;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #9C3030;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #003657;
}

.breadcrumbs {
  margin-top: 73px;
  text-align: center;
  background: linear-gradient(to bottom right, #00205B, #001C53, #003657);
  padding: 30px 0;
  color: #fff;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 63px;
  }
}

.breadcrumbs h2 {
  font-size: 32px;
  font-weight: 500;
}

.breadcrumbs p {
  font-size: 14px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 29px;
}

.about .content ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
  text-align: j;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 15px;
  padding-right: 4px;
  color: #9C3030;
}

.about .content .learn-more-btn {
  background: #9C3030;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px 9px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.about .content .learn-more-btn:hover {
  background: #C13A3A;
  color: #fff;
}

@media (max-width: 768px) {
  .about .content .learn-more-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# translator
--------------------------------------------------------------*/


.translator .counters span {
  font-size: 48px;
  display: block;
  color: #9C3030;
  font-weight: 700;
}

.translator .counters p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #37423b;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
  padding: 30px;
  background: #9C3030;
  border-radius: 4px;
  color: #fff;
}


.why-us .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.why-us .content p {
  margin-bottom: 30px;
}

.more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
  font-weight: bold;
}

.more-btn i {
  font-size: 14px;
}

.more-btn:hover {
  color: #9C3030;
  background: #fff;
}

.why-us .icon-boxes .icon-box {
  text-align: center;
  background: #fff;
  padding: 40px 30px;
  width: 100%;
  border: 1px solid #eef0ef;
}

.why-us .icon-boxes .icon-box i {
  font-size: 32px;
  padding: 18px;
  color: #9C3030;
  margin-bottom: 30px;
  background: #f6f7f6;
  border-radius: 50px;
}

.why-us .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.why-us .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  padding-top: 0px;
}

.features .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
  border: 1px solid #eef0ef;
}

.features .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.features .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}

.features .icon-box h3 a {
  color: #37423b;
  transition: 0.3s;
}

.features .icon-box:hover {
  border-color: #9C3030;
}

.features .icon-box:hover h3 a {
  color: #9C3030;
}

/*--------------------------------------------------------------
# lessons
--------------------------------------------------------------*/
.lessons .course-item {
  border-radius: 5px;
  border: 1px solid #eef0ef;
}

.lessons .course-content {
  padding: 15px;
}

.lessons .course-content h3 {
  font-weight: 700;
  font-size: 20px;
}

.lessons .course-content h3 a {
  color: #37423b;
  transition: 0.3s;
}

.lessons .course-content h3 a:hover {
  color: #9C3030;
}

.lessons .course-content p {
  font-size: 13px;
  color: #777777;
}

.lessons .course-content h4 {
  font-size: 14px;
  background: #9C3030;
  padding: 7px 14px;
  color: #fff;
  margin: 0;
  border-radius: 5px;
}

.lessons .course-content .price {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #37423b;
}

.lessons .trainer {
  padding-top: 15px;
  border-top: 1px solid #eef0ef;
}

.lessons .trainer .trainer-profile img {
  max-width: 50px;
  border-radius: 50px;
}

.lessons .trainer .trainer-profile span {
  padding-left: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #5a6c60;
}

.lessons .trainer .trainer-rank {
  font-size: 18px;
  color: #657a6d;
}

/*--------------------------------------------------------------
# teachers
--------------------------------------------------------------*/
.teachers .teacher {
  text-align: center;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #eef0ef;
}

.teachers .teacher img {
  margin: -1px -1px 30px -1px;
}

.teachers .teacher .teacher-content {
  padding: 0 20px 30px 20px;
}

.teachers .teacher h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

.teachers .teacher span {
  display: block;
  font-size: 13px;
  text-align: justify;
}

.teachers .teacher p {
  padding-top: 10px;
  font-size: 14px;
  color: #aaaaaa;
  text-align: justify;
}

.teachers .teacher .social {
  margin-top: 15px;
}

.teachers .teacher .social a {
  color: #7e9486;
  transition: 0.3s;
}

.teachers .teacher .social a:hover {
  color: #9C3030;
}

.teachers .teacher .social i {
  font-size: 18px;
  margin: 0 2px;
}

.teachers .teacher .teacher-content .teaching-mode {
  display: flex;
  align-items: center;
  color: #003657;
  font-weight: bold;
}
.teachers .teacher .teacher-content .rating {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.teachers .teacher .teacher-content .rating .rating-value {
  margin-left: 5px;
  font-size: 13px;
}

.teachers .teacher .teacher-content .teacher-image .image-container {
  position: relative;
  overflow: hidden;
}
.teachers .teacher .teacher-content .teacher-image .image-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid #003657; /* Color del borde */
  z-index: 1;
}
.teachers .teacher .teacher-content .teacher-image .image-content {
  position: relative;
  z-index: 2;
  filter: grayscale(70%);
  transition: filter 0.3s ease-in-out;
}
.teachers .teacher .teacher-content .teacher-image  .image-content:hover {
  filter: grayscale(0%);
}


.teachers .teacher .teacher-content .rating .fa-star {
  color: #ffb500;
  font-size: 13px;
  font-weight: bold;
}

.teachers .teacher .teacher-info {
  display: flex;
  align-items: center; /* Centra verticalmente */
}


.teachers .teacher .hourly-rate {
  margin-left: auto;
  color: #9C3030;
  font-weight: bold;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-wrap {
  padding-left: 50px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  border: 1px solid #eef0ef;
  position: relative;
  background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #c1ecce;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #9C3030;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #9C3030;
}

@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }

  .testimonials .testimonials-carousel,
  .testimonials .testimonials-slider {
    overflow: hidden;
  }

  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }

  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

/*--------------------------------------------------------------
# Teachers Details
--------------------------------------------------------------*/
.user-details h3 {
  font-size: 24px;
  margin: 30px 0 15px 0;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
}

.user-details h3:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #eef0ef;
  bottom: 0;
  left: 0;
}

.user-details h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 1px;
  background: #9C3030;
  bottom: 0;
  left: 0;
}

.user-details .course-info {
  background: #f6f7f6;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.user-details .course-info h5 {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.user-details .course-info p {
  margin: 0;
  font-weight: 600;
}

.user-details .course-info a {
  color: #657a6d;
}

/*--------------------------------------------------------------
# Teachers Details Tabs
--------------------------------------------------------------*/
.user-details-tabs {
  overflow: hidden;
  padding-top: 0;
}

.user-details-tabs .nav-tabs {
  border: 0;
}

.user-details-tabs .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: #37423b;
  border-radius: 0;
  border-right: 2px solid #e2e7e4;
  font-weight: 600;
  font-size: 15px;
}

.user-details-tabs .nav-link:hover {
  color: #9C3030;
}

.user-details-tabs .nav-link.active {
  color: #9C3030;
  border-color: #9C3030;
}

.user-details-tabs .tab-pane.active {
  animation: fadeIn 0.5s ease-out;
}

.user-details-tabs .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #9C3030;
}

.user-details-tabs .details h5 {
  color: #37423b;
  font-weight: bold;
}

.user-details-tabs .details span {
  color: #777777;
  font-size: 13px;
}

.user-details-tabs .details p:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .user-details-tabs .nav-link {
    border: 0;
    padding: 15px;
  }

  .user-details-tabs .nav-link.active {
    color: #fff;
    background: #9C3030;
  }
}

/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/
.events .card {
  border: 0;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
}

.events .card-img {
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
  z-index: 9;
  border-radius: 0;
}

.events .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.events .card-body {
  z-index: 10;
  background: #fff;
  border-top: 4px solid #fff;
  padding: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-top: -60px;
  transition: 0.3s;
}

.events .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.events .card-title a {
  color: #37423b;
  transition: 0.3s;
}

.events .card-text {
  color: #5e5e5e;
}

.events .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
}

.events .read-more a:hover {
  color: #9C3030;
}

.events .card:hover img {
  transform: scale(1.1);
}

.events .card:hover .card-body {
  border-color: #9C3030;
}

.events .card:hover .card-body .card-title a {
  color: #9C3030;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  border: 1px solid #eef0ef;
  border-radius: 0;
  position: relative;
  overflow: hidden;
}

.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  background: #f8f8f8;
}

.pricing h4 {
  font-size: 36px;
  color: #9C3030;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing ul li {
  padding-bottom: 16px;
}

.pricing ul i {
  color: #9C3030;
  font-size: 18px;
  padding-right: 4px;
}

.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .btn-buy {
  background: #9C3030;
  display: inline-block;
  padding: 8px 35px;
  border-radius: 50px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .btn-buy:hover {
  background: #C13A3A;
}

.pricing .featured h3 {
  color: #fff;
  background: #9C3030;
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #9C3030;
  color: #fff;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-top: 5px;
}

.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #9C3030;
  float: left;
  width: 44px;
  height: 44px;
  background: #ecf9f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37423b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #657a6d;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #9C3030;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #D22918;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #D22918;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #9C3030;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #9C3030;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #C13A3A;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #37423b;
  background: #f9faf9;
}

#footer .footer-top {
  padding: 50px 0 10px 0;
  background: #f9faf9;
}

#footer .footer-top .footer-contact {
  margin-bottom: 10px;
}

#footer .footer-top .footer-contact p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #777777;
  text-align: justify;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 10px;
  font-size: 13px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #9C3030;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #9C3030;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #e0e5e2;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #9C3030;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #C13A3A;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}

#footer .credits a {
  color: #C13A3A;
  transition: 0.3s;
}

#footer .credits a:hover {
  color: #9C3030;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #9C3030;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #C13A3A;
  color: #fff;
  text-decoration: none;
}

.member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(65, 76, 100, 0.06);
}

.member .member-img {
  position: relative;
  overflow: hidden;
  filter: grayscale(0%);
}

.member .member-img:hover {
  filter: grayscale(80%);
  transition: filter 0.3s ease-in-out;
}

.member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.member .social a {
  transition: color 0.3s;
  color: #414c64;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.member .social a i {
  line-height: 0;
}

.member .social a:hover {
  color: #ffc107;
}

.member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.member .member-info {
  padding: 25px 15px;
}

.member .social h4 {
  font-size: 15px;
  color: #000;
}

.member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.member .member-info p {
  text-align: justify;
  font-size: 13px;
  color: #777777;
}

.member:hover .social {
  opacity: 1;
}

textarea {
  resize: none;
  overflow: hidden; 
}

.form-group {
  border: 1px solid lightgray;
  border-top: none;
  box-shadow: none;
}


.form-control {
  border: none;
  box-shadow: none;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #9C3030;
  color: #003657;
  background-color: transparent;
}

.nav-tabs .nav-link {
  color: #37423b;
}

.nav-tabs .nav-link.active {
  border: none;
  color: #9C3030;
  font-weight: bold;
  border-bottom: 1px solid #9C3030;
}

.nav-link:hover {
  background-color: #f5f5f5;
}

.translator-buttons {
  border: none;
}

#keyboardButton.active {
  background-color: #9C3030;
}

.login100-form {
  width: 350px;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login100-form h2 {
  text-align: center;
  margin-bottom: 30px;
}

.wrap-input100 {
  position: relative;
  margin-bottom: 30px;
}

.input100 {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 13px;
}

.input100:focus {
  border:none;
  outline: none;
}

.focus-input100::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #9C3030;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.focus-input100::after {
  content: attr(data-validate);
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 12px;
  color: #9C3030;
  display: none;
}

.input100:focus + .focus-input100::before {
  transform: scaleX(1);
}

.input100:focus + .focus-input100::after {
  display: block;
}

.container-login100-form-btn {
  text-align: center;
}

.login100-form-btn {
  width: 100%;
  background-color: #003657;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.login100-form-btn:hover {
  background-color: #9C3030;
}

.txt2 {
  font-size: 14px;
  cursor: pointer;
  color: #003657;
}

.txt2:hover {
  font-size: 14px;
  cursor: pointer;
  color: #9C3030;
}

.p-t-46 {
  padding-top: 46px;
}

.login-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-image img {
  max-width: 100%;
  max-height: 100%;
}

.select-role p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.role-option {
  margin-bottom: 10px;
}

.role-option input[type="radio"] {
  display: none;
}

.role-option label {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  padding-left: 25px;
  position: relative;
}

.role-option label:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

.role-option input[type="radio"]:checked + label:before {
  border-color: #9C3030;
}

#welcomeUser {
  color: #9C3030;
  font-weight: bold;
}

.editable-box {
  font-weight: normal; 
  outline:none;  
  text-align: justify;
  font-size: 13px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}

.label-box {
  text-align: justify;
  font-size: 13px;
  color: #777777;
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .img {
  border-radius: 8px;
  overflow: hidden;
}

.services .img img {
  transition: 0.6s;
}

.services .details {
  padding: 50px 30px;
  margin: -100px 30px 0 30px;
  transition: all ease-in-out 0.3s;
  background: #FFF;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0 25px rgba(0,0,0, 0.1);
}

.services .details .icon {
  margin: 0;
  width: 72px;
  height: 72px;
  background: #9C3030;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #FFF;
  font-size: 28px;
  transition: ease-in-out 0.3s;
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  border: 6px solid #FFF;
}

.services .details h3 {
  color: #9C3030;
  font-weight: 700;
  margin: 10px 0 15px 0;
  font-size: 22px;
  transition: ease-in-out 0.3s;
}

.services .details p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .service-item:hover .details h3 {
  color: #9C3030;
}

.services .service-item:hover .details .icon {
  background: #FFF;
  border: 2px solid  #9C3030;
}

.services .service-item:hover .details .icon i {
  color:  #9C3030;
}

.services .service-item:hover .img img {
  transform: scale(1.2);
}

.fc-event {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.img-fluid {
  border-radius: 10px; /* Radio de los bordes */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Sombra suave */
}

/* Estilos generales para la tabla */
.contributions-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  text-align: center;
}

/* Estilos para las cabeceras de la tabla */
.contributions-table th {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}

/* Estilos para las celdas de la tabla */
.contributions-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

/* Estilos para las filas pares de la tabla */
.contributions-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilos para los botones de acciones */
.contributions-table button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Estilos para los iconos dentro de los botones */
.contributions-table button i {
  font-size: 15px;
}


/*--------------------------------------------------------------
# contributions
--------------------------------------------------------------*/
.contributions #contributions-flters {
  list-style: none;
  margin-bottom: 20px;
}

.contributions #contributions-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}

.contributions #contributions-flters li:hover,
.contributions #contributions-flters li.filter-active {
  background: #9C3030;
  color: #fff;
}

.contributions .contributions-item {
  margin-bottom: 30px;
}

.contributions .contributions-item .contributions-img {
  overflow: hidden;
}

.contributions .contributions-item .contributions-img img {
  transition: all 0.6s;
}

.contributions .contributions-item .contributions-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all 0.3s;
  background: rgba(55, 81, 126, 0.8);
  padding: 10px 15px;
}

.contributions .contributions-item .contributions-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}

.contributions .contributions-item .contributions-info p {
  color: #f9fcfe;
  font-size: 14px;
  margin-bottom: 0;
}

.contributions .contributions-item .contributions-info .preview-link,
.contributions .contributions-item .contributions-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}

.contributions .contributions-item .contributions-info .preview-link:hover,
.contributions .contributions-item .contributions-info .details-link:hover {
  color: #47b2e4;
}

.contributions .contributions-item .contributions-info .details-link {
  right: 10px;
}

.contributions .contributions-item:hover .contributions-img img {
  transform: scale(1.15);
}

.contributions .contributions-item:hover .contributions-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# contributions Details
--------------------------------------------------------------*/
.contributions-details {
  padding-top: 40px;
}

.contributions-details .contributions-details-slider img {
  width: 100%;
}

.contributions-details .contributions-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.contributions-details .contributions-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #47b2e4;
}

.contributions-details .contributions-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #47b2e4;
}

.contributions-details .contributions-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(55, 81, 126, 0.08);
}

.contributions-details .contributions-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.contributions-details .contributions-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.contributions-details .contributions-info ul li+li {
  margin-top: 10px;
}

.contributions-details .contributions-description {
  padding-top: 30px;
}

.contributions-details .contributions-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contributions-details .contributions-description p {
  padding: 0;
}
.format-buttons button {
  margin-right: 5px; /* Espaciado entre los botones */
  cursor: pointer; /* Cambio de cursor al pasar sobre los botones */
  background: none;
  border: none;
  float: right;
}

.format-buttons i.material-icons {
  font-size: 22px; /* Tamaño de los iconos */
}

.blog-categories {
  background-color: #9C3030;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
}